.img-circle {
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 35%;

}

.ul-no-bullets
{
    list-style-type: none;
}

.ul-no-bullets li a:hover {
    text-decoration: none;

}

.ul-no-bullets li a img{
    width: 100px;
    height: 100px;

}

.ul-no-bullets li a img:hover{
    width: 120px;
    height: 120px;

}

.banner {
    background-color: whitesmoke;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 700px;
}

.banner-info {
    padding: 17em 0 0;
    position: absolute;
}

.scroll {
    margin: 0em 0 0;
    text-align: center;
    background-color: #ffc907;
}

.banner-info h2 {
    color: #000;
    font-size: 5em;
    text-align: center;
    margin: 0;
    font-weight: 700;
    background-color: rgba(65, 139, 202, 0.64);
    padding: 0.4em 1em;
    width: 60%;

}

.banner-info h3 {
    color: #000;
    font-size: 2em;
    text-align: center;
    margin: 1em 0 0;
    font-weight: 400;
    background-color: rgba(63, 78, 98, 0.49);
    padding: 0.4em 1em;
    width: 50%;

}

.skills {
    background-color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    height: 800px;
}

.experience {
    background-color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    height: 550px;
    color: #ffffff;

}

.education {
    background-color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    height: 550px;
}

.contacts {
    background-color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
    height: 550px;
    color: #ffffff;

}

h2 {
    text-align: center;
    padding: 3%;
}

.row {
    margin: 5%;
    margin-top: 0;
}
